.bund {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	margin-left: 18%;
	width: 60%;
}
body {
  background-image: url("../assets/images/robot.png");
}

.bund a {
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}

h2 {
	text-align: left;
}

.body {
	margin-left: 40%
}
